<!-- Navbar -->
<div id="top_nav" ng-init="act=2">
    <img src="name_logo.svg" id="name_logo"/>
    <div class="nav_options" id="lappy_display">
      <a ng-click="switch_page('/')" ng-class="{'active_top_nav':act==1}"><u>Home</u></a>
      <a ng-click="switch_page_hash('/','projects')" ng-class="{'active_top_nav':act==2}"><u>Projects</u></a>
      <a ng-click="scroll_to('contact')" ng-class="{'active_top_nav':act==3}"><u>Contact</u></a>
    </div>
</div>
<!--phone nav bar-->
<div ng-click="toggle_icon()" id="nav_icon">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>
<div ng-class="{'nav_options':true,'disappear':disappear}" ng-init="disappear=true" id="phone_display nav_options">
  <a ng-click="switch_page('/')" ng-class="{'active_top_nav':act==1}"><u>Home</u></a>
  <a ng-click="switch_page_hash('/','projects')" ng-class="{'active_top_nav':act==2}"><u>Projects</u></a>
  <a ng-click="scroll_to('contact'); toggle_icon()" ng-class="{'active_top_nav':act==3}"><u>Contact</u></a>
</div>


<!--Main Content-->
<div  ng-class="{'main_content':true, 'less_opacity':less_opacity}" ng-init="less_opacity=false">
  <div id="lappy_display" class="days_36"><img src="icons/back.png" ng-click="switch_page_hash('/','pjt_1')" class="back"/>  36 Days of Type</div>
  <div id="phone_display" class="days_36"><img src="icons/back.png" ng-click="switch_page_hash('/','pjt_1_p')" class="back"/>  36 Days of Type</div>
  <div class="days_36_content">
    <div class="italic" style="display:block">Illustration</div>
    <img src="images/A-01.png" class="main_img"/>
    <div> 
      <p>36 Days of Type is a project that invites Designers, Illustrators and Graphic Artists to express their particular view on letters and numbers of our alphabet.</p>
      <p>My idea was to create a set of illustrations that resonate with the letter of the day. The illustrations were based on an activity or profession that makes our lives more livier and joyful.</p>
    </div>
  </div>

  <img src="images/days_36/banner1.jpg" class="days_36_images"/>

  <div class="days_36_content">
    <div> 
      <p>The alphabet is made from the font, Helvetica (Bold) as it gives sufficient place to play with the negative space without loosing the form of the alphabet. Rest of the text is in ITC Avant Garde with variable weights. The Illustrations have a colour theme. In each of the illustrations, there is a priary colour, shades of which are used for different parts. I've used 2-3 secondary colours based on the necessity to bring in a contrast and highlight the activity being depicted.</p>
      <p>Here are rest of the illustrations</p>
    </div>
  </div>

  <img src="images/days_36/Grid.png" class="days_36_images"/>
</div>

<a href="https://www.behance.net/sohamkhadatare" target="_blank"><div ng-class="{'behance':true,'less_opacity':less_opacity}">View full potfolio on <p style="color:white" class="bold">Behance</p></div></a>
<!--Contact-->
<div id="contact"  ng-class="{'less_opacity':less_opacity}">
  <img src="face.png" id="face">
  <div class="contact_txt">
    <div class="heading">About Me</div>
    <div>
      <div class="contact_desp">I am  an undergraduate student of IIT Bombay, my Major is in Civil Engineering and my minor is in Design.</div>
      <div id="resume">
        View my Resume
        <img src="icons/front.png" class="resume_arrow"/>
      </div>
    </div>
    <div id="get_in_touch">
      <div class="bold">Get in touch</div>
      <img src="icons/phone.png" ng-click="copy_number()" class="icon"/>
      <img src="icons/mail.png" ng-click="copy_mail()" class="icon"/>
      <a href="https://www.facebook.com/sohamkhadatare" target="_blank"><img src="icons/fb.png" class="icon"/></a>
      <a href="https://www.instagram.com/sohamkhadatare/" target="_blank"><img src="icons/insta.png" class="icon"/></a>
      <a href="https://dribbble.com/sohamkhadatare" target="_blank"><img src="icons/ball.png" class="icon"/></a>
    </div>
    <div>
  </div>
</div>