<!-- Navbar -->
<div id="top_nav" ng-init="act=2">
    <img src="name_logo.svg" id="name_logo"/>
    <div class="nav_options" id="lappy_display">
      <a ng-click="switch_page('/')" ng-class="{'active_top_nav':act==1}"><u>Home</u></a>
      <a ng-click="switch_page_hash('/','projects')" ng-class="{'active_top_nav':act==2}"><u>Projects</u></a>
      <a ng-click="scroll_to('contact')" ng-class="{'active_top_nav':act==3}"><u>Contact</u></a>
    </div>
</div>
<!--phone nav bar-->
<div ng-click="toggle_icon()" id="nav_icon">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>
<div ng-class="{'nav_options':true,'disappear':disappear}" ng-init="disappear=true" id="phone_display nav_options">
  <a ng-click="switch_page('/')" ng-class="{'active_top_nav':act==1}"><u>Home</u></a>
  <a ng-click="switch_page_hash('/','projects')" ng-class="{'active_top_nav':act==2}"><u>Projects</u></a>
  <a ng-click="scroll_to('contact'); toggle_icon()" ng-class="{'active_top_nav':act==3}"><u>Contact</u></a>
</div>


<!--Main Content-->
<div  ng-class="{'main_content':true, 'less_opacity':less_opacity}" ng-init="less_opacity=false">
  <div class="typo_poster" id="lappy_display"><img src="icons/back.png" ng-click="switch_page_hash('/','pjt_3')" class="back"/>  4th Poster Typography Page</div>
  <div class="typo_poster" id="phone_display"><img src="icons/back.png" ng-click="switch_page_hash('/','pjt_3_p')" class="back"/>  4th Poster Typography Page</div>
  <div class="typo_poster_content">
    <div class="italic" style="display:block">Graphic Design</div>
    <img src="images/Poster2.png" class="main_img"/>
  </div>
  <div class="typo_poster_content">
    A submission for the competition conducted by The Museum of Typography, Crete, Greece, every year to celebrate Typography.
  </div>
  <div class="typo_poster_content">
    The idea was to develop a design to show how the designs of the past, present and future were supported on the pillars of typography.
  </div>
  <div class="typo_poster_content_head">
    The Colour Theme
  </div>
  <div class="typo_poster_content">
    The colours were shades of pink and white as they brought out and expressed the love for type
  </div>
  <img src="images/typo_poster/poster_colors.png" class="typo_poster_colors_img"/>
  <div class="token_content_head">
    The Typeface
  </div>
  <div class="token_content">
    The fonts were chosen in such a way so as to represent each era of font styles in the poster. 'Pirata One' for the olden gothic times, 'Montserrat' for the clean modern times and 'Mission Gothic' for the futuristic geometric sans feel.
  </div>
  <img src="images/typo_poster/poster_fonts.png" class="typo_poster_type_img"/>
</div>


<!--Behance-->
<a href="https://www.behance.net/sohamkhadatare" target="_blank"><div ng-class="{'behance':true,'less_opacity':less_opacity}">View full potfolio on <p style="color:white" class="bold">Behance</p></div></a>
<!--Contact-->
<div id="contact"  ng-class="{'less_opacity':less_opacity}">
  <img src="face.png" id="face">
  <div class="contact_txt">
    <div class="heading">About Me</div>
    <div>
      <div class="contact_desp">I am  an undergraduate student of IIT Bombay, my Major is in Civil Engineering and my minor is in Design.</div>
      <div id="resume">
        View my Resume (Coming Soon)
        <img src="icons/front.png" class="resume_arrow"/>
      </div>
    </div>
    <div id="get_in_touch">
      <div class="bold">Get in touch</div>
      <img src="icons/phone.png" ng-click="copy_number()" class="icon"/>
      <img src="icons/mail.png" ng-click="copy_mail()" class="icon"/>
      <a href="https://www.facebook.com/sohamkhadatare" target="_blank"><img src="icons/fb.png" class="icon"/></a>
      <a href="https://www.instagram.com/sohamkhadatare/" target="_blank"><img src="icons/insta.png" class="icon"/></a>
      <a href="https://dribbble.com/sohamkhadatare" target="_blank"><img src="icons/ball.png" class="icon"/></a>
    </div>
    <div>
  </div>
</div>