<!-- Navbar -->
<div id="top_nav" ng-init="act=1">
    <img src="name_logo.svg" id="name_logo"/>
    <div class="nav_options" id="lappy_display">
      <a ng-click="scroll_to('home')" ng-class="{'active_top_nav':act==1}"><u>Home</u></a>
      <a ng-click="scroll_to('projects')" ng-class="{'active_top_nav':act==2}"><u>Projects</u></a>
      <a ng-click="scroll_to('contact')" ng-class="{'active_top_nav':act==3}"><u>Contact</u></a>
    </div>
</div>
<!--phone nav bar-->
<div ng-click="toggle_icon()" id="nav_icon">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>
<div ng-class="{'nav_options':true,'disappear':disappear}" ng-init="disappear=true" id="phone_display nav_options">
  <a ng-click="scroll_to('home'); toggle_icon()" ng-class="{'active_top_nav':act==1}"><u>Home</u></a>
  <a ng-click="scroll_to('projects'); toggle_icon()" ng-class="{'active_top_nav':act==2}"><u>Projects</u></a>
  <a ng-click="scroll_to('contact'); toggle_icon()" ng-class="{'active_top_nav':act==3}"><u>Contact</u></a>
</div>


<!-- HOME-->
<div id="home"  ng-class="{'less_opacity':less_opacity}" ng-init="less_opacity=false">
  <div class="heading">Hi!</div>
  <div class="desc" id="name">I am <p class="bold">Soham Khadtare</p></div>
  <div class="desc" id="name">
    And I am <p class="bold">Graphic Designer</p> based in <p class="bold">Mumbai</p>
  </div>
  <img id="gateway" src="gatewayofindia.svg">
</div>
<!--Projects-->
<div id="projects"  ng-class="{'less_opacity':less_opacity}">
  <div class="heading" style="display:inline-block;">Projects</div>
  <div id="projects_nav">
      <div class="nav-item">Illustrations</div>
      <div class="nav-item">Graphic Design</div>
      <div class="nav-item">UI/UX</div>
      <div class="nav-item">Motion Graphics</div>
  </div>
  <div class="pjts" id="lappy_display">
    <div id="pjt_1">
      <div class="nmbr bold">01</div>
      <div class="line">
        <div class="line_comp1"></div>
        <div class="line_comp2"></div>
      </div>
      <div class="pjt_content">
        <div class="pjt_heading">36 Days of Type</div>
        <div class="pjt_desp">Illstrations for every Alphabet and Number made daily for 36 days</div>
        <div ng-click="switch_page('/36_days_of_type')" class="pjt_desp italic" style="cursor:pointer">View More</div>
      </div>
      <img src="images/A-01.png" class="pjt_img">
    </div>

    <div id="pjt_2">
      <img src="images/Token.png" class="pjt_img">
      <div class="pjt_content">
        <div class="pjt_heading">Token, The Toucan</div>
        <div class="pjt_desp">Mascot Design for Inter IIT Cultural Meet 2017-18</div>
        <div ng-click="switch_page('/token')" class="pjt_desp italic" style="cursor:pointer">View More</div>
      </div>
      <div class="line">
        <div class="line_comp1"></div>
        <div class="line_comp2"></div>
      </div>
      <div class="nmbr bold">02</div>
    </div>

    <div id="pjt_3">
      <div class="nmbr bold">03</div>
      <div class="line">
        <div class="line_comp1"></div>
        <div class="line_comp2"></div>
      </div>
      <div class="pjt_content">
        <div class="pjt_heading">4th Poster Typo Contest</div>
        <div class="pjt_desp">Submission for the 4th Poster Typography Contest conducted by Museum of Typography, Greece</div>
        <div ng-click="switch_page('/4th_poster_typo')" class="pjt_desp italic" style="cursor:pointer">View More</div>
      </div>
      <img src="images/Poster.png" class="pjt_img">
    </div>

    <div id="pjt_4">
      <img src="images/Culturals.png" class="pjt_img">
      <div class="pjt_content">
        <div class="pjt_heading">Culturals Website</div>
        <div class="pjt_desp">Revamp of the Culturals Website, a portal for cultural activites</div>
        <div ng-click="switch_page('/culturals_website')" class="pjt_desp italic" style="cursor:pointer">View More</div>
      </div>
      <div class="line">
        <div class="line_comp1"></div>
        <div class="line_comp2"></div>
      </div>
      <div class="nmbr bold">04</div>
    </div>
  </div>
  <!--Phone display Projects-->
  <div class="pjts" id="phone_display">

    <div id="pjt_1">
      <img src="images/A-01.png" class="pjt_img">
      <div class="pjt_content">
        <div class="nmbr bold">01</div>
        <div class="line">
          <div class="line_comp1"></div>
          <div class="line_comp2"></div>
        </div>
        <div class="pjt_heading">36 Days of Type</div>
      </div>
      <div class="pjt_desp">Illstrations for every Alphabet and Number made daily for 36 days</div>
    </div>

    <div id="pjt_2">
      <img src="images/Token.png" class="pjt_img">
      <div class="pjt_content">
        <div class="nmbr bold">02</div>
        <div class="line">
          <div class="line_comp1"></div>
          <div class="line_comp2"></div>
        </div>
        <div class="pjt_heading">Token, The Toucan</div>
      </div>
      <div class="pjt_desp">Mascot Design for Inter IIT Cultural Meet 2017-18</div>
    </div>

    <div id="pjt_3">
      <img src="images/Poster.png" class="pjt_img">
      <div class="pjt_content">
        <div class="nmbr bold">03</div>
        <div class="line">
          <div class="line_comp1"></div>
          <div class="line_comp2"></div>
        </div>
        <div class="pjt_heading">4th Poster Typo Contest</div>
      </div>
      <div class="pjt_desp">Submission for the 4th Poster Typography Contest conducted by Museum of Typography, Greece</div>
    </div>

    <div id="pjt_4">
      <img src="images/Culturals.png" class="pjt_img">
      <div class="pjt_content">
        <div class="nmbr bold">04</div>
        <div class="line">
          <div class="line_comp1"></div>
          <div class="line_comp2"></div>
        </div>
        <div class="pjt_heading">Culturals Website</div>
      </div>
      <div class="pjt_desp">Revamp of the Culturals Website, a portal for cultural activites</div>
    </div>

  </div>
</div>

<a href="https://www.behance.net/sohamkhadatare" target="_blank"><div ng-class="{'behance':true,'less_opacity':less_opacity}">View full potfolio on <p style="color:white" class="bold">Behance</p></div></a>
<!--Contact-->
<div id="contact"  ng-class="{'less_opacity':less_opacity}">
  <img src="face.png" id="face">
  <div class="contact_txt">
    <div class="heading">About Me</div>
    <div>
      <div class="contact_desp">I am  an undergraduate student of IIT Bombay, my Major is in Civil Engineering and my minor is in Design.</div>
      <div id="resume">
        <div>View my Resume</div>
      </div>
    </div>
    <div id="get_in_touch">
      <div class="bold">Get in touch</div>
      <img src="icons/phone.png" ng-click="copy_number()" class="icon" onmouseover="this.setAttribute('src', 'icons/act_phone.png')"onmouseout="this.setAttribute('src', 'icons/phone.png')"/>
      <img src="icons/mail.png" class="icon" onmouseover="this.setAttribute('src', 'icons/act_mail.png')"onmouseout="this.setAttribute('src', 'icons/mail.png')"/>
      <img src="icons/fb.png" class="icon" onmouseover="this.setAttribute('src', 'icons/act_fb.png')"onmouseout="this.setAttribute('src', 'icons/fb.png')"/>
      <img src="icons/insta.png" class="icon" onmouseover="this.setAttribute('src', 'icons/act_insta.png')"onmouseout="this.setAttribute('src', 'icons/insta.png')"/>
      <img src="icons/ball.png" class="icon" onmouseover="this.setAttribute('src', 'icons/act_ball.png')"onmouseout="this.setAttribute('src', 'icons/ball.png')"/>
    </div>
    <div>
  </div>
</div>