@font-face {
    font-family: HKGrotesk;
    src: url(fonts/HKGrotesk-Regular.otf);
}
@font-face {
    font-family: HKGrotesk_Bold;
    src: url(fonts/HKGrotesk-SemiBold.otf);
}
@font-face {
    font-family: HKGrotesk_italic;
    src: url(fonts/HKGrotesk-LightItalic.otf);
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	font-family: "HKGrotesk", sans-serif;
	margin: 0;
	text-align: center;
	font-size: 1.3vw;
	opacity: 1;
}
u{
	text-decoration: none;
}
#phone_display{
	display: none;
}
.bold{
	display: inline;
	font-family: "HKGrotesk_Bold", sans-serif;
}
.italic{
	display: inline;
	font-family: HKGrotesk_italic;
	font-size: 1vw; 
}
a{
	text-decoration: none;
	color:black; 
}
/*****************************************/
/*Loading GIF
/*****************************************/
#loading{
	position: fixed;
	height: 100%;
	z-index: 1000;
	background-color: white;
}
#loading-image{
	width: 100%;
}
/*****************************************/
/*Web Page
/*****************************************/
.heading{
	font-size: 5.2vw;
	padding-top: 3vh;
	padding-bottom: 3vh;
	padding-left: 3vw;
	padding-right: 3vw;
}
/*****************************************/
/*Home*/
/*****************************************/
#home{
	padding-top: 15vh;
	height: 100vh;
}
#name{
	font-size: 1.7vw;
}
#gateway{
	height: 50vh;
}
/*****************************************/
/*Nav Bar*/
/*****************************************/

#top_nav{
	padding-top: 3vh;
	text-align: right;
	position: fixed;
	right: 0px;
	background-color: white;
	width: 95vw;
	padding-right: 2vw;
	padding-left: 3vw;
}
#nav_icon{
	display: none;
}
#nav_options{
	display: inline;
}
#top_nav div a{
	padding-right: 1vw;
	display: inline;
	cursor: pointer;
}

#name_logo{
	width: 6vw;
	float: left;
	display: inline-block;
}
.active_top_nav u{
	text-decoration: none;
	border-bottom: 2px solid black;
}
/*****************************************/
/*Projects*/
/*****************************************/

#projects{
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 8vh;
	padding-bottom: 10vh;
}
#projects_nav{
	display: inline;
	visibility: hidden;
}
.nav-item{
	display: inline;
	padding: 2vw;
}
/*Projects*/
.nmbr{
	font-size: 6.7vw;
	color: #F3F3F3;
	display: table-cell;
	vertical-align: middle;
	padding-left: 2vw;
	padding-right: 2vw;
}
.line{
	width: 15vw;
	border-bottom: 0; 
	display: table-cell;
	vertical-align: middle;
}
.line_comp1{
	border-bottom: 0.25vh solid #707070;
	display: block;
	height: 2vw;
}
.line_comp2{
	border-top: 0.25vh solid #707070;
	display: block;
	height: 2vw;
}
.pjt_content{
	width: 25vw;
	display: table-cell;
	vertical-align: middle;
	padding-right: 2vw;
	padding-left: 2vw;
}
.pjt_img{
	width: 25vw;
	height: 25vw;
	display: table-cell;
	vertical-align: middle;
}
#pjt_1, #pjt_2, #pjt_3, #pjt_4{
	display: table;
}
.pjt_heading{
	font-size: 2.6vw;
	font-family: HKGrotesk_Bold;
}


#pjt_1 .pjt_content,#pjt_3 .pjt_content{
	text-align: right;
}
#pjt_2 .pjt_content, #pjt_4 .pjt_content{
	text-align: left;
}

#pjt_1 .pjt_heading{
	color: #8083BF;
}
#pjt_2 .pjt_heading{
	color: #F5A71C;
}
#pjt_3 .pjt_heading{
	color: #F3C0C7;
}
#pjt_4 .pjt_heading{
	color: #E83C68;
}

#pjt_3 .line{
	width: 10vw;
}
#pjt_3 .pjt_content{
	width: 30vw;
}
/*****************************************/
/*Behance Link*/
/*****************************************/
.behance{
	background-color:blue;
	padding:1.5vh;
	color:white;
}
/*****************************************/
/*Contact*/
/*****************************************/
#contact{
	background-color: #232323;
	color: white;
	padding-right: 15%;
	padding-left: 15%;
	padding-bottom: 20vh;
	padding-top: 5vh;
}
.contact_txt{
	display:inline-block;
	width:50%;
	text-align: left;
}
#resume{
	padding-top: 1vh;
	font-family: HKGrotesk_italic;
}
#get_in_touch{
	padding-top: 3vh;
	font-size: 1.7vw;
}
.icon{
	width: 1.5vw;
	display: inline;
	padding-left: 0.25vw;
	padding-right: 0.25vw;
	opacity: 0.24;
}
.icon:hover{
	cursor: pointer;
	opacity: 1;
}
#face{
	width:25%;
	display:inline-block;
}
.resume_arrow{
	width: 1.1vw;
	opacity: 1;
	cursor: pointer;
	display: inline;
}

/*****************************************************************
Responsive Website
*****************************************************************/
@media all and (max-width: 750px){
	body{
		font-size: 3vw;
	}
	#phone_display{
		display: block;
	}
	#lappy_display{
		display: none;
	}
	.italic{
		font-size: 2.2vw; 
	}
	/*****************************************/
	/*Home*/
	/*****************************************/
	#home{
		height: auto;
	}
	.heading{
		font-size: 8vw;
	}
	#name{
		font-size: 2.7vw;
	}
	#gateway{
		width: 96vw;
	}
	/*****************************************/
	/*Nav Bar*/
	/*****************************************/
	#top_nav{
		padding-top: 3vh;
		text-align: right;
		position: fixed;
		right: 0px;
		background-color: white;
		width: 95vw;
		padding-right: 2vw;
		padding-left: 3vw;
		z-index: 1;
	}
	#name_logo{
		width: 14vw;
		float: left;
		display: inline-block;
		opacity: 1;
		padding-left: 2vw;
	}
	/*hamburger menu icon*/
	#nav_icon{
		display: block;
		width: 8vw;
		right: 2vw;
		top: 1.5vh;
		opacity: 1;
		z-index: 15;
		position: fixed;
	}

	/*hamburger menu*/
	.nav_options a{
		padding-right: 1vw;
		display: block;
		cursor: pointer;
		font-size: 8vw;
		padding-top: 2vh;
		padding-bottom: 1vh;
	}
	.nav_options{
		display: block;
		z-index: 5;
		position: fixed;
		text-align: center;
		width: 100vw;
		transition:0.4s;
		left: 0vw;
		top: 0vh;
		opacity: 1;
	}
	.disappear {
		opacity: 0;
		z-index: -1;
	}
	.less_opacity{
		opacity: 0.05;
	}
	/*Nav Bar icon animation*/
	.bar1, .bar2, .bar3 {
	    width: 35px;
	    height: 4px;
	    background-color: #333;
	    margin: 6px 0;
	    transition: 0.4s;
	}

	.change .bar1 {
	    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
	    transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .bar2 {opacity: 0;}

	.change .bar3 {
	    -webkit-transform: rotate(45deg) translate(-8px, -8px);
	    transform: rotate(45deg) translate(-8px, -8px);
	}

	/*****************************************/
	/*Projects*/
	/*****************************************/
	#projects{
		padding-bottom: 1vh;
	}
	/*Projects*/
	
	#pjt_1_p, #pjt_2_p, #pjt_3_p,#pjt_4_p{
		display: block;
		text-align: center;
		padding-bottom: 12vh;
	}
	#pjt_1_p .pjt_heading{
		color: #8083BF;
	}
	#pjt_2_p .pjt_heading{
		color: #F5A71C;
	}
	#pjt_3_p .pjt_heading{
		color: #F3C0C7;
	}
	#pjt_4_p .pjt_heading{
		color: #E83C68;
	}

	.pjt_img{
		width: 70%;
		height: 70%;
		display: block;
		margin: auto;
	}
	.pjt_content{
		padding-top: 0vw;
		width: auto;
		margin: auto;
		display: table;
	}
	.pjt_desp{
		text-align: center;
		display: block;
	}
	
	.nmbr{
		font-size: 10.2vw;
		padding-top: 0vw;
		padding-right: 1vw;
		padding-left: 0vw;
		display: table-cell;
		vertical-align: middle;
	}
	.line{
		height: 4vw;
		width: 10vw;
		display: table-cell;
		border-bottom: 0; 
		margin-left: 1vw;
		margin-right: 1vw;
		vertical-align: middle;
	}
	.line_comp1{
		border-bottom: 0.25vh solid #707070;
		display: block;
		height: 2vw;
	}
	.line_comp2{
		border-top: 0.25vh solid #707070;
		display: block;
		height: 2vw;
	}
	.pjt_heading{
		font-size: 6vw;
		padding-left: 2vw;
		display: table-cell;
		vertical-align: middle;
	}

	#pjt_1_p .pjt_content,#pjt_3_p .pjt_content, #pjt_2_p .pjt_content,#pjt_4_p .pjt_content{
		text-align: center;
	}

	/*****************************************/
	/*Contact*/
	/*****************************************/
	#contact{
		padding-right: 5%;
		padding-left: 5%;
	}
	.contact_txt{
		width:50%;
		text-align: left;
	}

	#get_in_touch{
		font-size: 3.5vw;
	}
	.icon{
		width: 3vw;
		opacity: 1;
	}
	#face{
		width: 40%;
	}
	.resume_arrow{
		width: 2.4vw;
	}

}

