.main_content{
	padding-top: 20vh;
	display: block;
	margin-bottom:-1vh;
}
.main_img{
	width: 30vw;
}
.back{
	width: 4vw;
	opacity: 0.2;
	cursor: pointer;
}
/*******************************************************************
                            36 days of Type
*********************************************************************/
.days_36{
	font-size: 5.2vw;
	font-family: HKGrotesk_Bold;
	color: #8083BF;
}
.days_36_image1{
	width: 100%;
	padding-top: 5.5vh;
	padding-bottom:5.5vh;
}
.days_36_image2{
	width: 100%;
	padding-top: 5.5vh;
	padding-bottom:0vh;
}

.days_36_content{
	width: 50%;
	margin: auto;
	padding-top: 2vh;
	padding-bottom:2vh;
}
/*******************************************************************
                            Token
*********************************************************************/
.token{
	font-size: 5.2vw;
	font-family: HKGrotesk_Bold;
	color: #F5A71C;
}
.token_content{
	width: 50%;
	margin: auto;
	padding-top: 2vh;
	padding-bottom:2vh;
}
.token_content_head{
	width: 50%;
	margin: auto;
	font-family: HKGrotesk_Bold;
	padding-top: 4vh;
	padding-bottom:2vh;
}
.token_colors_img{
	width: 30vw;
	padding-bottom: 2vh;
}
.token_type_img{
	width: 50vw;
	padding-top: 2vh;
	padding-bottom: 0vh;
}
.big_img{
	width: 100%;
	padding-top: 5vh;
}


/*******************************************************************
                      4th Poster Typography Page
*********************************************************************/
.typo_poster{
	font-size: 5.2vw;
	font-family: HKGrotesk_Bold;
	color: #F3C0C7;
}
.typo_poster_content{
	width: 50%;
	margin: auto;
	padding-top: 2vh;
	padding-bottom:2vh;
}
.typo_poster_content_head{
	width: 50%;
	margin: auto;
	padding-top: 4vh;
	padding-bottom:2vh;
	font-family: HKGrotesk_Bold; 
}
.typo_poster_colors_img{
	width: 15vw;
	padding-bottom: 2vh;
}
.typo_poster_type_img{
	width: 50vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

/*******************************************************************
                            Culturals Website
*********************************************************************/
.culturals_website{
	font-size: 5.2vw;
	font-family: HKGrotesk_Bold;
	color: #E83C68;
}
.culturals_website_content{
	width: 50%;
	margin: auto;
	padding-top: 2vh;
	padding-bottom:2vh;
}
.culturals_website_content_head{
	width: 50%;
	margin: auto;
	padding-top: 4vh;
	padding-bottom:2vh;
	font-family: HKGrotesk_Bold;
}
.culturals_website_colors_img{
	width: 15vw;
	padding-bottom: 2vh;
}
.culturals_website_type_img{
	width: 50vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
}
.website_flow{
	width: 100%;
}
#website_link{
	padding-bottom: 10vh;
}

/*******************************************************************
                            Media Queries
*********************************************************************/
@media all and (max-width: 750px){
	.back{
		width: 6vw;
	}
	.days_36,.token,.typo_poster,.culturals_website{
		font-size: 8vw;
	}
}